<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Event Horizon Labs</h1>
  <p class="lead">Modern web applications</p>
  <div class="col-lg-8 mx-auto">
    <p class="lead mb-4">What are the key elements needed to create a great <strong>web application</strong>?</p>
    <div class="col-lg-10 mx-auto">
      <ul class="text-start">
        <li>Using industry standard web framework such as <a href="http://symfony.com/" rel="nofollow"><strong>Symfony</strong></a>.</li>
        <li>Following <a href="http://en.wikipedia.org/wiki/SOLID_(object-oriented_design)" rel="nofollow"><strong>SOLID</strong></a>, <a href="http://en.wikipedia.org/wiki/GRASP_(object-oriented_design)" rel="nofollow"><strong>GRASP</strong></a>, <a href="http://en.wikipedia.org/wiki/Don%27t_repeat_yourself" rel="nofollow"><strong>DRY</strong></a>, <a href="http://en.wikipedia.org/wiki/KISS_principle" rel="nofollow"><strong>KISS</strong></a> rules and using <a href="http://en.wikipedia.org/wiki/Software_design_pattern" rel="nofollow"><strong>design patterns</strong></a>.</li>
        <li>Testing during the development process with <a href="http://behat.org/" rel="nofollow"><strong>behat</strong></a>, <a href="http://phpunit.de/manual/current/en/index.html" rel="nofollow"><strong>phpunit</strong></a> and <a href="http://www.seleniumhq.org/" rel="nofollow"><strong>selenium</strong></a>.</li>
        <li>Using of code analysis tools such as <a href="https://insight.sensiolabs.com/" rel="nofollow">Sensio Insight</a>, <a href="http://phpmd.org/" rel="nofollow"><strong>PHP</strong>MD</a>, <a href="https://github.com/sebastianbergmann/phpcpd" rel="nofollow"><strong>PHP</strong>CPD</a>, <a href="https://github.com/sebastianbergmann/phpdcd" rel="nofollow"><strong>PHP</strong>DCD</a>, <a href="https://github.com/squizlabs/PHP_CodeSniffer" rel="nofollow"><strong>PHP</strong>CS</a>, <a href="https://www.phpmetrics.org/" rel="nofollow"><strong>Php</strong>Metrics</a>, <a href="https://getpsalm.org/" rel="nofollow">Psalm</a> and <a href="https://github.com/FriendsOfPHP/PHP-CS-Fixer" rel="nofollow"><strong>PHP</strong>-CS-Fixer</a> to ensure high quality of the product.</li>
      </ul>
    </div>
    <p><strong>This is how we work.</strong></p>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <h3>Knowledge of technology</h3>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12 mt-3">
      <div class="card">
        <div class="card-header">
          Programming languages
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>PHP</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>REST API Development</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>HTML</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>CSS</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>XML</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>JavaScript</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Design patterns</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>HHVM</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 mt-3">
      <div class="card">
        <div class="card-header">
          Frameworks/ORMs
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>Symfony</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Doctrine ORM</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Angular</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Silex microframework</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Average</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Laravel</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>AngularJS</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Angular-Meteor</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Meteor</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Propel 1.x</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 mt-3">
      <div class="card">
        <div class="card-header">
          Databases
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>PostgreSQL</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>MySQL</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Memcached</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>MongoDB</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>commercetools</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Average</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Redis</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Average</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 mt-3">
      <div class="card">
        <div class="card-header">
          Other technologies
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>Yahoo performance rules</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Web scraping</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>git</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Atom (RFC 4287)</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Average</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>HTTP 1.1 (RFC 2616)</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Average</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>EDI - X12</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Average</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Microformats</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 mt-3">
      <div class="card">
        <div class="card-header">
          Full-text search
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>Apache Lucene</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>ElasticSearch</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Average</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Solr</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Sphinx</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 mt-3">
      <div class="card">
        <div class="card-header">
          Testing
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>PHPUnit</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Very good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Behat</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Selenium</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>lime</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Average</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 mt-3">
      <div class="card">
        <div class="card-header">
          HTTPD
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>Apache HTTPD</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>nginx</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Cherokee</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Average</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Varnish Cache</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 mt-3">
      <div class="card">
        <div class="card-header">
          Container orchestration
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>Docker</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Kubernetes</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Good</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Istio</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basic</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer class="mt-5">
    <h2>Company contact</h2>
    <div class="row">
      <div class="col-md-5">
        <address>
            <strong>Event Horizon Labs</strong><br>
            Michał Piotrowski<br>
            ul. Pisarzowicka 21<br>
            43-512 Janowice<br>
            Polska
        </address>
      </div>
      <div class="col-md-5">
        <address>
          <abbr title="Phone"><i class="bi bi-telephone"></i></abbr> (+48) 881 573 056<br>
          <abbr title="Email"><i class="bi bi-envelope"></i></abbr> <a href='&#109;ai&#108;t&#111;&#58;mi&#37;6&#51;ha&#108;&#64;&#101;ve&#37;6Et&#104;&#111;&#114;i%7A%&#54;Fnla%6&#50;s&#46;&#37;&#54;&#53;%7&#53;'>mich&#97;l&#64;&#101;&#118;entho&#114;izonlab&#115;&#46;&#101;u</a><br>
          <abbr title="Skype"><i class="bi bi-skype"></i></abbr> michalkjp<br>
        </address>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li>
            <a href="https://candostudio.eu/">Can Do Studio</a>
          </li>
          <li>
            <a href="https://github.com/eventhorizonpl?tab=repositories"><i class="bi bi-github"></i> Github</a>
          </li>
          <li>
            <a href="https://bitbucket.org/eventhorizonpl"> Bitbucket</a>
          </li>
          <li>
            <a href="https://www.upwork.com/o/profiles/users/~01a20a8329d97ef690/"> Upwork</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <p>Copyright &copy; 2022 Event Horizon Labs</p>
    </div>
  </footer>
</div>

<router-outlet></router-outlet>
